%footer
  %hr

  - unless params[:action] == 'index'
    = link_to t(:link_to_index), tasks_path

  - if params[:action] == 'index'
    = link_to t(:link_to_new), new_task_path

  - if params[:action] == 'show'
    ／
    = link_to t(:link_to_edit), edit_task_path(task)

  - if params[:action] == 'show' || params[:action] == 'edit'
    ／
    = link_to t(:link_to_delete), task, method: :delete , data: { confirm: t('confirm.delete', target: task.model_name.human) }
