// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header
  margin: 0 auto
  width: 880px

h2
  color: #295890

table
  margin: 0 auto
  font-size: 12px
  border:
    collapse: separate
    spacing: 1px 10px
  th
    background: #295890
    color: #ffffff
    vertical-align: middle
    width: 80px
    overflow: visible
    position: relative
    font:
      weight: normal
      size: 15px
  td
    &.row
      background: #efefef
    &.menu
      width: 110px
      padding: 10px
    &.title
      background: #295890
      color: #ffffff
      width: 85px
      padding:
        right: 10px
        left: 10px
    &.add
      background: #ffffff
    &.input_disabled
      background: #efefef
      width: 400px

input
  width: 400px

textarea
  width: 400px
  height: 200px

select
  width: 180px
  text-align: right

.flash
  border-radius: 20px
  margin: 30px

.success-message
  background: #3b7fed
  color: #ffffff
  padding:
    left: 15px
    top: 5px
    bottom: 5px

footer
  margin: 0 auto
  width: 880px
  font-size: 12px
  text-align: right

hr
  border:
    width: 0.5px
    color: #295890
