%footer
  .nav.nav-pills.nav-fill
    %ul.nav
      %li.nav-item
        = link_to t('title_index', title: User.model_name.human), users_path, class: 'nav-link'
      %li.nav-item
        = link_to t('title_index', title: Task.model_name.human), tasks_path, class: 'nav-link'
